* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gradient-background:linear-gradient(90deg, hsla(0, 0%, 63%, 1) 0%, hsla(0, 0%, 84%, 1) 49%, hsla(0, 0%, 31%, 1) 100%);
    
}

body {
    display: grid;
    grid-template-areas: 
    'head'
    'main'
    'footer';
    height: fit-content;
}

header {
    grid-area: head;
    height: fit-content;  
}

main {
    grid-area: main;
    height: fit-content;
}
footer {
    grid-area: footer;
    height: fit-content;
}

/* mobile cards */

.cards-section {
    margin: 5vh 20px;
}
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border: black solid 2px;
    max-width: 600px; 
}


.image-container {
    padding: 10px;
}

img {
    width: 100%;
    height: 100%;
}

/* desktop cards*/

@media (min-width:1440px) {
    .cards-container {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

 }